# API Keys & Local Configurations
config.json
.env

# Generated Scraper Reports & Raw Data
reports/
raw_data/
errors/
# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE Settings (Optional but recommended to ignore)
.vscode/
.idea/
.DS_Store

# Task tracker
todo.md
